{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block body %}
<div class ="wholeDoc">
            
    <div class ="pageLogo">
        <img class ="pageLogo" src="static/logo.png" alt="logo">
    </div>

    <div id="error-container">
        <div id="emailError" class="error-message"></div>
        <div id="passwordError" class="error-message"></div>
        <div id="confirmPasswordError" class="error-message"></div>
    </div>
    
    <div class="registrationContainer">
        <form id="register-form" >
           <label for="inputUser">Username:</label>
            <input id="inputUser" class="boxSize" type="text" id="username" name="username" required>
            
            <label for="inputUser">Email:</label>
            <input class="boxSize" type="email" id="email" name="email" required>
          

            <label for="email">Password:</label>
            <input class="boxSize" type="password" id="password" name="password" required>
  

            <label for="email">Confirm Password:</label>
            <input class="boxSize" type="password" id="confirmPassword" name="passwordConfirm" required>


            <div>
                <label for="TOS"><a href="/terms-of-service">Terms of Service</a></label>
                <input type="checkbox" id="TOS" required>
                <label for="TOS">Accept?</label>
                <p>Already have an account? Click <a href="/login">here</a>!</p>
            </div>

            <div>
                <button type="submit" class="leButton">Register</button>
            </div>
        </form>
    </div>
    
   
    <script src="static/signUpPage.js"></script>
{% endblock %}